
html {
    font-family: 'Varela Round', sans-serif;
    background-color: #111111;
    color: #eeeeee;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #222222;
    width: 800px;
    border-radius: 8px;
    border-left: 16px solid #222222;
    border-right: 16px solid #222222;
}

.title {
    font-size: 64px;
    text-align: center;
    height: 70px;
    width: 800px;
}

.subtitle {
    font-size: 16px;
    text-align: center;
    height: 20px;
    width: 800px;
}

.topicidk {
    color: #d98448;
}

.loadericon {
    width: 16px;
    height: 16px;
}

a:link {
  color: #c27036;
}

a:visited {
  color: #c27036;
}

a:hover {
  color: #ba6122;
}

a:active {
  color: #994a11;
}
